<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>{{title}}</span>
                    <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()"> <!-- ENLAZANDO MI FORMULARIO CON LA PROPIEDAD productoForm-->
                        <!-- luego configurar formControlName="name" para enlazar -->
                        <!-- luego crear evente ngSubmit -->
                        <div class="mb-3">
                            <input type="text" formControlName="name"
                            class="form-control form-control-lg" placeholder="Nombre">
                            <div class="text-danger" *ngIf="productoForm.get('name')?.hasError('required') && productoForm.get('name')?.touched">
                                <span >El nombre del producto es obligario</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="age"
                            class="form-control form-control-lg" placeholder="Fecha">
                            <div class="text-danger" *ngIf="productoForm.get('age')?.hasError('required') && productoForm.get('age')?.touched">
                                <span >la fecha es obligaria</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/listar">volver</button>
                            <button type="submit" class="btn btn-success btn-lg float-end" [disabled]="productoForm.invalid" >Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
